// Increase width of page text
.article-container {
  max-width: 960px; // Default: 760px
}

// Add space under powered-by message
footer .powered-by {
  margin-bottom: 20px;
}

// Center figures via shortchode
.w-100 {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Center CTA button on hero widget
.wg-hero .cta-btns {
  display: flex;
  justify-content: center;
}

// Left-align page titles
.mb-0 {
  text-align: left;
}

// Left-align page subtitles
.mt-1 {
  text-align: left;
}

// Round margins of toolbar buttons and increase spacing
.btn-toolbar .btn {
  margin: 3px 6px 3px;
}
.btn-toolbar .btn:first-child {
  border-radius: 6px;
  margin-left: 0px;
}
.btn-toolbar .btn:not(:last-child):not(.dropdown-toggle) {
  border-radius: 6px;
  margin-left: 0px;
}
.btn-toolbar .btn:not(:last-child):not(:first-child) {
  border-radius: 6px;
}
.btn-toolbar .btn:last-child {
  border-radius: 6px;
}
