{{/* Override this file to add a custom footer to every page. */}}
{{/* This partial is included in `layouts/partials/site_footer.html`. */}}

<p class="powered-by">
  This website was established by graduate students in the Department of Ecology and Evolutionary Biology at University of California, Los Angeles. We acknowledge the Gabrielino/Tongva peoples as the traditional land caretakers of <a href="https://soundcloud.com/user-604190014-65178502/tovaangar?in=user-604190014-65178502/sets/pronunciation-for-the-tongva-language-words" target="_blank" rel="noopener">Tovaangar</a> (the Los Angeles basin and So. Channel Islands). As a land grant institution, we pay our respects to the <a href="https://soundcloud.com/user-604190014-65178502/ancestors?in=user-604190014-65178502/sets/pronunciation-for-the-tongva-language-words" target="_blank" rel="noopener">Honuukvetam</a> (Ancestors), <a href="https://soundcloud.com/user-604190014-65178502/elders?in=user-604190014-65178502/sets/pronunciation-for-the-tongva-language-words" target="_blank" rel="noopener">'Ahiihirom</a> (Elders) and <a href="https://soundcloud.com/user-604190014-65178502/our-relatives?in=user-604190014-65178502/sets/pronunciation-for-the-tongva-language-words" target="_blank" rel="noopener">'Eyoohiinkem</a> (our relatives/relations) past, present and emerging.
</p>

<p class="powered-by">
  <a href="/code-of-conduct">Contributor Covenant Code of Conduct</a>
</p>
